
@media print {
  body{
    margin-left:40px ;
    margin-top: 10px;
  }
  #print-only {
    display: block;
    border: none;
  }
  #printbutton{
    display: none;
  }
  title {
    display: none !important;
  }
  #footer{
    display: none;
  }
  #navbar{
    display: none;
  }
  #no-print {
    display: none;
  }
}
